@import "@/assets/css/public.scss"; 

/deep/ .el-scrollbar__wrap {
  // overflow-y: hidden;
  overflow-x: hidden;
  // overflow: auto;
  .el-scrollbar__view {
    display: flex;
    // width: 100%;
    height: 100%;
    padding-right: 50px;
  }
}

.ctl-panel-container {
  // new 
  padding: 15px;
  // end new
  $table-height: 256px;
  // new
  // border-top: 1px solid #000;
//   box-shadow: $panel-shadow;
  color: $shallow-font-color;
  // padding: 0;  old
  //   height: calc(100%);
  //   width: 100%;
  box-sizing: border-box;
  //   border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  // end new
  overflow:hidden;
//   bottom: -$table-height;
  //   height: 300px;
  z-index: $panel-index;
//   transform: translateY(-$table-height);
  transition: all 0.2s ease;

  //   background-color: #e2e5ea;
  background-color: #fff;
//   max-height: 50%;
//   overflow: auto;
//   overflow-x: hidden;

  .ctl-wrap {
      // width: 1200px;
      width: 100%;
      box-sizing: border-box;
      .title {
          margin-bottom: 5px;
      }
      .ctl-wrap-content {
        // new
        box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
        // end new
          // overflow-x: auto;;
          padding: 10px 15px;
          .tab-content {
              display: flex;
            // float: left;
              width: 100%;
              height: 100%;
              overflow-x: auto;
              overflow-y: hidden;
              padding-right: 5px;
              .upload-demo {
                &:link,&:visited,&:hover, &:active,  &:focus  {
                    color: #303133 !important;
                  }
              }
              .tab-panel-group {
                  height: 100%;
                  position: relative;
                  padding: 0 5px;
                  border-right: 1px solid #d4d4d4;
                  padding-bottom: 30px;
                  font-size: 12px;
                  height: 120px;
                  box-sizing: border-box;
                  // &:first-of-type:first-of-type {
                  //   border-left: 1px solid #d4d4d4;
                  // }
                  .icon-btn {
                      flex-direction: column;
                      text-align: center;
                      padding: 7px 5px;
                      color: $panel-color;
                      .icon-title {
                          color: $panel-color;
                          font-size: 12px;
                          font-weight: lighter;
                          padding-top: 5px;
                          word-break:keep-all;       /* 不换行 */
                          white-space:nowrap;        /* 不换行 */
                          &:link,&:visited,&:hover, &:active,  &:focus  {
                              color: #303133;
                          }
                          &:hover {
                            cursor: default;
                          }
                      }
                      .icon {
                          overflow: hidden;
                          font-size: 45px;
                          width: 40px;
                          height: 40px; //这个才能保持一致性
                          background: #fff;
                          color: $panel-color;
                          margin: 0px auto 5px auto;
                          vertical-align: bottom;
                      }
                      &:hover {
                          background: #d4d4d4;
                          .icon {
                              background: #d4d4d4;
                          }
                      }
                  }
                  .icon-close {
                    color: #67C23A !important;
                  }
                  .icon-btn-disabled {
                    color: #999 !important;
                    .icon-title {
                      color: #999;
                      &:link,&:visited,&:hover, &:active,  &:focus  {
                          color: #999;
                      }
                      &:hover {
                        cursor: not-allowed;
                      }
                  }
                    .icon {
                      color: #999;
                    }
                    &:hover {
                      background: #fff;
                      cursor: not-allowed;
                      .icon {
                        background: #fff;
                      }
                    }
                  }
                  .text-btn {
                      flex-direction: column;
                      text-align: center;
                      padding: 7px 5px;
                      font-weight: 100;
                      font-size: 12px;
                      word-break:keep-all;       /* 不换行 */
                      white-space:nowrap;        /* 不换行 */
                    //   width: 150px;
                      div {
                          padding: 0px;
                      }
                      div:hover {
                          background: #d4d4d4;
                      }
                  }
                  .grounp-footer {
                      text-align: center;
                      font-size: 12px;
                      background-color: #edf2fc;
                      border-radius: 4px;
                      position: absolute;
                      line-height: 20px;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      color: $panel-color;
                  }
              }

              .labelTable {
                  flex-wrap: wrap;
                  width: 340px;
                  color: $panel-color;
                  .label-btn-wrap {
                      width: calc(33% - 10px);
                      margin: 4px 5px;
                      .statusLabel {
                        float: left; width: 62px; line-height: 20px;
                      }
                      .statusSW {float: left;}
                      .label-dropdown {
                          border: 1px solid #000;
                          padding: 2px 8px;
                          box-sizing: border-box;
                          font-size: 12px;
                      }
                  }
              }
          }
      }
  }

  .close-btn {
      position: absolute;
      right: 20px;
      top: 13px;
      color: #777;

      &:hover {
          cursor: pointer;
          color: $hover-font-color;
      }
  }

}

.badge {
  z-index: $panel-index + 22;
  // margin-right: -12px;
  /deep/ .el-badge__content.is-fixed {
    top: 11px;
    right: 15px;
  }
}
.table-btt-enter,
.table-btt-leave-to {
  transform: translateY(0);
}

.table-btt-active {
  transition: transform 0.2s ease;
}
